<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADI Package Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}" />
</head>
<style>
</style>
<body>
<div id="main">
  <div class="container">
    <div  style="margin-top:10px;margin-bottom:10px;text-align:left;">
      <img src="/files/sky_logo_bib.jpg" style="width: 500px;margin-bottom:2px">
    </div>
    <nav>
      <div class="nav-fostrap">
        <ul>
          <li><a href="{{ url_for('main.index') }}">Home</a></li>
          <li><a>Create package<span class="arrow-down"></span></a>
            <ul class="dropdown">
              <li><a href="{{ url_for('main.create_single_title_standard') }}">Standard Title</a></li>
              <li><a href="{{ url_for('main.create_single_title_vrp') }}">VRP Single Title</a></li>
              <li><a href="{{ url_for('main.create_est_show') }}">EST Box Set</a></li>
              <li><a href="{{ url_for('main.create_est_single_title') }}">EST Single Title</a></li>
              <li><a href="{{ url_for('main.make_tarfile') }}">Create VRP Package</a></li>
            </ul>
          </li>
          <li><a>View<span class="arrow-down"></span></a>
            <ul class="dropdown">
              <li><a href="{{ url_for('main.search_adi_all') }}">View All Titles</a></li>
              <li><a href="{{ url_for('main.search_adi') }}">Search Assets</a></li>
              <li><a href="{{ url_for('main.get_est_offers') }}">Get EST Offers</a></li>
              <li><a href="{{ url_for('main.get_asset_metadata') }}">View Asset Metadata</a></li>
              <li><a href="{{ url_for('main.get_adi') }}">View and Download ADI</a></li>
              <li><a href="{{ url_for('main.list_tar_files') }}">Show Created VRP Packages</a></li>
              <li><a href="{{ url_for('main.get_tar_file') }}">Download VRP Packages</a></li>
            </ul>
          </li>
          <li><a>Update Package<span class="arrow-down"></span></a>
            <ul class="dropdown">
              <li><a href="{{ url_for('main.update_single_title') }}">Update Metadata</a></li>
              <li><a href="{{ url_for('main.update_video') }}">Update Video</a></li>
            </ul>
          </li>
          <li><a>Ingest<span class="arrow-down"></span></a>
            <ul class="dropdown">
              <li><a href="{{ url_for('main.post_adi') }}">Post ADI</a></li>
              <li><a href="{{ url_for('main.get_ingest_history') }}">View Ingest History</a></li>
            </ul>
          </li>
          <li><a>Media Library<span class="arrow-down"></span></a>
            <ul class="dropdown">
              <li><a href="{{ url_for('main.list_files') }}">Show Media-Files in Tool Library</a></li>
              <li><a href="{{ url_for('main.list_files_checksum') }}">Show Media Checksum</a></li>
              <li><a href="{{ url_for('main.post_files_post') }}">Upload Media to Tool Library</a></li>
              <li><a href="{{ url_for('main.upload_to_tank') }}">Upload to Tank</a></li>
            </ul>
          </li>
          <li><a>Admin<span class="arrow-down"></span></a>
            <ul class="dropdown">
              <li><a href="{{ url_for('main.add_default_media') }}">Add Default Media</a></li>
              <li><a href="{{ url_for('main.delete_asset') }}">Delete</a></li>
              <li><a href="{{ url_for('main.view_default_config') }}">View Default Media/Path</a></li>
              <li><a href="{{ url_for('main.update_default_config') }}">Update Default Media/Path</a></li>
            </ul>
          </li>
          <li><a href="{{ url_for('main.consult_omdb') }}">OMDB</a></li>
          <li><a>Help<span class="arrow-down"></span></a>
            <ul class="dropdown">
              <li><a href="#">User Guide</a></li>
              <li><a href="{{ url_for('main.genre_guide') }}">Genre Guide</a></li>
              <li><a href="{{ url_for('main.rating_guide') }}">CA/SI Rating Guide</a></li>
              <li><a href="{{ url_for('main.audio_guide') }}">AudioType Guide</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="nav-bg-fostrap">
        <div class="navbar-fostrap"> <span></span> <span></span> <span></span> </div>
        <a href="{{ url_for('main.index') }}" class="title-mobile">Home</a>
      </div>
    </nav>
    <div class='content'>
    </div>
</div>
</div>

{% block content %}
{% endblock %}

</body>

</html>