{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="title">Create VRP Tar</h3>
    <d></d>
    <h4>First Make sure that the VRP ADI is created from Create Package > VRP Single Title option.</h4>
    <h4>Also please ensure that the the library has all the supporting media files saved. You can add media files to the tool from Media Libary > Upload Media to Tool Library option.</h4>
    <div class="box">
        <form method="POST" action="/create_tar">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="assetId" placeholder="AssetId" autofocus="" required>
                    <d>**</d>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="filename" placeholder="Filename(example.tar)" autofocus="" required>
                    <d>**</d>
                </div>
            </div>
            <br>
            <button class="btn btn-primary d-none" id="creating_tar" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Creating Tar Package...
            </button>
            <br>
            <button onclick="createtar();" id="create_tar" class="button is-block is-info is-medium is-fullwidth">Create VRP TAR File</button>
            <div id="loader" class="d-none"></div>
            <script>
            function createtar() {
             create_tar.classList.add("d-none");
             loader.classList.remove("d-none");
             creating_tar.classList.remove("d-none");
            }
        </script>
        </form>
    </div>
</div>
{% endblock %}
