{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2>This option only deletes assets and files from the tool. It does not delete the assets from Environment</h2>
    <p></p>
    <h3 class="title">Delete Asset</h3>
    <div class="box">
        <form method="POST" action="/delete_asset">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="assetId" placeholder="AssetId" autofocus="" required>
                    <d>**</d>
                </div>
            </div>
            <br>
            <button class="button is-block is-info is-medium is-fullwidth">Delete</button>
        </form>
    </div>
    <br>
    <p></p>
    <br>
    <h3 class="title">Delete Local Media Files</h3>
    <div class="box">
        <form method="POST" action="/delete_file">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="filename" placeholder="Supporting File to Delete" autofocus="" required>
                    <d>**</d>
                </div>
            </div>
            <br>
            <button class="button is-block is-info is-medium is-fullwidth">Delete</button>
        </form>
    </div>
    <br>
    <p></p>
    <br>
     <h3 class="title">Delete VRP Packages</h3>
    <div class="box">
        <form method="POST" action="/delete_tar">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="filename" placeholder="Tar File to Delete" autofocus="" required>
                    <d>**</d>
                </div>
            </div>
            <br>
            <button class="button is-block is-info is-medium is-fullwidth">Delete</button>
        </form>
    </div>
    <br>
    <p></p>
    <br>
     <h3 class="title">Delete Image Groups</h3>
    <div class="box">
        <form method="POST" action="/delete_image_group">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="image_prefix" placeholder="Image Group Prefix" autofocus="" required>
                    <d>**</d>
                </div>
            </div>
            <br>
            <button class="button is-block is-info is-medium is-fullwidth">Delete</button>
        </form>
    </div>
</div>
{% endblock %}
