<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="center">
<h1 class="title">
  Asset Generator v0.06
</h1>
<h2 class="subtitle">
  This application manages ADI and VRP Packages
</h2>
<h3>Available Features</h3>
<h4>
  <ol>
  <li>Create Standard ADI for SVOD, EPISODE, CATCHUP, DPL, EST Single Title and Shows. </li>
  <p></p>
  <li>Create VRP Packages (Tar Files) for SVOD, EPISODE, CATCHUP, DPL and Premium VOD. </li>
  <p></p>
  <li>Search ADI by Title, Show Title. </li>
  <p></p>
  <li>View Asset Metadata, Videos and Update. </li>
  <p></p>
  <li>Upload Local Media Files and Automatic Checksum Calculation.(Video, Images and Trailers). </li>
  <p></p>
  <li>Upload Media Files to and From Tank using wildcard. </li>
  <p></p>
  <li>Ingest Assets directly to the Environment Endpoint. </li>
  <p></p>
  <li>View Ingest History based on Test Environment. </li>
  <p></p>
  <li>Create ADI for Secondary Content</li>
  <p></p>
  <li>Clone ADI to create exactly similar ADI with new IDs</li>
</ol>
</h4>
  </div>
</div>
{% endblock %}
