{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="title">Get Ingest History</h3>
    <div class="box">
        <form method="POST" action="/get_ingest_history">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="assetId" placeholder="AssetID" autofocus="" required>
                </div>
            </div>

            <p></p>

            <button class="button is-block is-info is-medium is-fullwidth">Get Ingest History</button>
        </form>
    </div>
</div>
{% endblock %}
