{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="title">Get Default Video Files</h3>
    <div class="box">
        <form method="POST" action="/add_default_media">
            <div class="field">
                <div class="control">
                    <input class="input is-large" name="username" placeholder="Tank Username" autofocus="" autocomplete="off">
                    <d>**</d>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Tank Password" autofocus="" required>
                    <d>**</d>
                </div>
            </div>
            <br>
            <button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Downloading...
            </button>
            <br>
            <button onclick="update();" id="Tank_upload" class="button is-block is-info is-medium is-fullwidth">Get From Tank</button>
            <div id="loader" class="d-none"></div>
            <script>
            function update() {
             Tank_upload.classList.add("d-none");
             loader.classList.remove("d-none");
             loading_btn.classList.remove("d-none");
            }
        </script>
        </form>
        </div>
    </div>
</div>
{% endblock %}