{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Get Video</h3>
    <div class="box">
      {% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.add_card') }}">add Card page</a>.
    </div>
{% endif %}
{% endwith %}
        <form method="POST" action="/get_asset_video">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="AssetId" placeholder="AssetId" autofocus="" required>
                </div>
            </div>

            <p></p>

            <button class="button is-block is-info is-medium is-fullwidth">Get Asset Video</button>
        </form>
    </div>
</div>
{% endblock %}
