{% extends "base.html" %}
{% block content %}
<div class="container">
	<d>** Information Sourced from Synamedia and Sky I&T Automation</d>
	<p></p>
<table cellspacing="0" border="0" class="table table-striped">
	<colgroup width="150"></colgroup>
	<colgroup width="200"></colgroup>
	<colgroup width="200"></colgroup>
	<colgroup width="200"></colgroup>
	<tr>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" height="21" align="left" valign=middle><font color="#000000">EPG Bit</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=middle><font color="#000000">EPG Bit Name</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=middle><font color="#000000">OIG Explorer</font></td>
        <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=middle><font color="#000000">ADI</font></td>
	</tr>
    <tr>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" height="21" align="left" valign=middle><font color="#000000">0x0000 0001</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=middle><font color="#000000">Monaural sound type</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=middle><font color="#000000">Monaural</font></td>
        <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=middle><font color="#000000">Mono</font></td>
	</tr>
    <tr>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" height="21" align="left" valign=middle><font color="#000000">0x0000 0002</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=middle><font color="#000000">Simple stereo sound type</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=middle><font color="#000000">Simple Stereo</font></td>
        <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=middle><font color="#000000">Stereo</font></td>
	</tr>
    <tr>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" height="21" align="left" valign=middle><font color="#000000">0x0000 0004</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=middle><font color="#000000">Surround-sound sound type</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=middle><font color="#000000">Surround Sound</font></td>
        <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=middle><font color="#000000">Dolby Digital</font></td>
	</tr>
    <tr>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" height="21" align="left" valign=middle><font color="#000000">0x0000 0008</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=middle><font color="#000000">Digital surround sound type</font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=middle><font color="#000000">Dolby Digital</font></td>
        <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-right: 2px solid #000000" align="left" valign=middle><font color="#000000">Dolby 5.1</font></td>
	</tr>
</table>
<br>
	<p></p>
<br>
<img src="/files/sky_audio_mapping.jpg" style="width: 1200px;height: 200px;margin-bottom:2px">
</div>
{% endblock %}