<!-- templates/create_package.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="title">Update ADI</h3>
    <div class="box">
        <form method="POST" action="/update_single_title">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="AssetId" placeholder="Asset_ID" autofocus="" required>
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" onmousedown="this.value='';" list="atype" name="asset_field" placeholder="Update Field" autofocus="" onchange="jsFunction(this.value);" required>
                    <datalist id="atype">
                      <option value="title">
                      <option value="synopsis">
                      <option value="offerStartTime">
                      <option value="offerEndTime">
                      <option value="licenseEndTime">
                      <option value="audio_type">
                      <option value="frame_rate">
                      <option value="par_rating">
                      <option value="btc_rating">
                      <option value="subtitle_flag">
                      <option value="multiformat_id">
                      <option value="duration">
                      <option value="genre">
                      <option value="provider_id">
                      <option value="content_marker">
                      <option value="delete_verb">
                    </option>
                    </datalist>
                </div>
                <script type="text/javascript">
                function jsFunction(value)
                    {
                    if (value == 'offerStartTime' || value == 'offerEndTime')
                    {
                      offers.classList.remove("d-none");
                      offer_guide.classList.remove("d-none");
                      format_guide.classList.remove("d-none");
                      alert("Make sure you enter the offerId for EST Assets");
                    }
                    else if (value == 'licenseEndTime')
                    {
                    format_guide.classList.remove("d-none");
                    }
                    else if (value == 'content_marker')
                    {
                    cmmediaid.classList.remove("d-none");
                    cm_media_id.classList.remove("d-none");
                    cmmediatype.classList.remove("d-none");
                    cm_media_type.classList.remove("d-none");
                    cm_value_guide.classList.remove("d-none");
                    cm_media_value.classList.remove("d-none");
                    cmmediaval.classList.remove("d-none");
                    alert("If content_marker is set to false, all other values will be ignored");
                    }
                    }
                </script>
                <br>
                <div class="field">
                <div class="control">
                    <input class="input is-large d-none" id="offers" type="text" name="offerId" placeholder="Offer_ID" autofocus="">
                    <d id="offer_guide" class="d-none"> Please specify the OfferId for EST Assets Only. Use View > Get EST Offers for IDs. </d>
                </div>
                </div>
                <div class="field">
                <div class="control">
                    <input class="input is-large d-none" id="cmmediaid" type="text" name="cm_media_id" placeholder="CM_MEDIA_ID" autofocus="">
                    <d id="cm_media_id" class="d-none"> Please specify the Content Marker Media ID</d>
                </div>
                </div>
                <div class="field">
                <div class="control">
                    <input class="input is-large d-none" id="cmmediatype" type="text" name="cm_media_type" placeholder="CM_MEDIA_TYPE" autofocus="">
                    <d id="cm_media_type" class="d-none"> Please specify the Content Marker Type (ex: SOC)</d>
                </div>
                </div>
                <div class="field">
                <div class="control">
                    <input class="input is-large d-none" id="cmmediaval" type="text" name="cm_media_value" placeholder="CM_MEDIA_VALUE" autofocus="">
                    <d id="cm_media_value" class="d-none"> Content Marker Value in ms(Example: 15000)</d>
                </div>
                </div>
                <br>
                <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="value" placeholder="Field_Value" autofocus="" required>
                    <d id="format_guide" class="d-none"> Please use format: YYYY-MM-DDTHH:MM:SSZ</d>
                    <d id="cm_value_guide" class="d-none"> Set Content Marker to true/false.</d>
                </div>
            </div>
            </div>
            <br>
            <button class="button is-block is-info is-medium is-fullwidth">Update Single Title</button>
        </form>
    </div>
</div>
{% endblock %}