<!-- templates/create_package.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="title">Update ADI</h3>
    <div class="box">
        <form method="POST" action="/update_single_title">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="AssetId" placeholder="Asset_ID" autofocus="" required>
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" list="atype" name="asset_field" placeholder="Update Field" autofocus="" required>
                    <datalist id="atype">
                      <option value="title">
                      <option value="synopsis">
                      <option value="offerStartTime">
                      <option value="offerEndTime">
                      <option value="licenseEndTime">
                      <option value="audio_type">
                      <option value="frame_rate">
                      <option value="par_rating">
                      <option value="btc_rating">
                      <option value="subtitle_flag">
                      <option value="multiformat_id">
                      <option value="duration">
                      <option value="genre">
                    </option>
                    </datalist>
                </div>
                <br>
                <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="value" placeholder="Field_Value" autofocus="" required>
                </div>
            </div>
            </div>
            <br>
            <button class="button is-block is-info is-medium is-fullwidth">Update Single Title</button>
        </form>
    </div>
</div>
{% endblock %}
