{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="title">Upload New Media File</h3>
    <div class="box">
        <form method=post enctype=multipart/form-data>
            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="file" name="file" placeholder="Path or Filename" autofocus="" required>
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="image_group" placeholder="Image_Group" autofocus="">
                    <d>Please specify Image Group Name for tagging the Image to a group(Only required for Images)</d>
                </div>
            </div>
            <br>
            <div id="Progress_Status">
                <div id="myprogressBar"></div>
            </div>
            <br>
            <button onclick="update()" class="button is-block is-info is-medium is-fullwidth">Upload Files</button>
            <script>
            function update() {
                var element = document.getElementById("myprogressBar");
                var width = 1;
                var identity = setInterval(scene, 100);
                function scene() {
                    if (width >= 99) {
                        clearInterval(identity);
                    } else {
                    width++;
                    element.style.width = width + '%';
                    }
                }
            }
            </script>
        </form>
    </div>
</div>
{% endblock %}
